html {
   background-size: cover;
   background: linear-gradient(to bottom left, rgba(230, 182, 111, 0.918), rgba(15, 34, 141, 0.1)80%);
   min-height: 100%;
   min-width: 100%;
   background-repeat: no-repeat;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   
}

header {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(15, 34, 141, 0.4);
    height: 100%;
    text-align: center;
    z-index: 3;
}

.headerContainer {
    width: 1000px;
    margin: 0 auto;
}

 /* buttons */
a {
    background-color: rgba(15, 34, 141, 0.0);
    color: rgba(0,0,0,0.5);
    border: none;
    margin: 10px 10px;
    text-decoration: none;
    font-size: 27px;
    font-family: 'Slabo 27px', serif;
    transition-duration: 0.2s;
    cursor: pointer;
    width: 75;
    z-index: 3;

    
}


/* button visual effect */
a:hover {
    background-color: rgba(15, 34, 141, 0.5);
    color: rgba(230, 182, 111, 0.918);
}


/* Formatting for title of webpage */
.headerItem h1 
{
    grid-column: 0 / span 2;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    font-family: 'Domine', serif;
    font-size: 45px;
    z-index: 3;
}  



.articles {
    display: block;
    font-family: 'Domine', serif;
    font-size: 16px;
    width: 75%;
    margin: 0 auto;
    z-index: 2;
}

img.background-img {
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 125%;
    width: 100%;
    margin: 0;
    grid-column:0 / span 2;
    opacity: .25;
    overflow: hidden;

}


